source https://api.nuget.org/v3/index.json
source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

nuget Carter
nuget fakeiteasy
nuget MartinCostello.Logging.XUnit
nuget Microsoft.Extensions.DependencyModel
nuget Microsoft.OpenApi
nuget Microsoft.SourceLink.GitHub
nuget MinVer
nuget Shouldly
nuget Swashbuckle.AspNetCore.SwaggerUi